.text-help {
	color: red;
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
}
.top-bar, .top-bar ul {
	background-color: #333333; 
}

.top-bar .menu-text {
	color: white;
}

.menu > .menu-text > a {
	display: inline;
	padding: 0;
}

.top-bar .active-link {
	font-weight: bold;
}

.button {
	border-radius: 0.5rem;
	padding: .75rem 3rem;
	margin-top: 2rem;
	margin-right: 1rem;
}


.page-title {
	margin: 2rem 0;
	text-align: center;
}

.row {
	margin-top: 1rem;
}

